<h1>Users</h1>
<% if @users.any? %>
    <%  @users.each do |user|  %>
        <%= user.username %>
        <%= link_to 'user', user_path(user.id)%>
    <% end %>
<% else %>
    <p>no users</p>
<% end %>
<%= link_to 'new user', new_user_path %>
