<h1><%= @user.username %></h1>
<% if @posts.any? %>
    <% @posts.each do |post| %>
        <p><%=post.ledge%></p>
        <%= link_to 'edit', edit_post_path(post.id) %>
    <% end %>
    <% else %>
    <p>no posts</p>
<% end %>
<%= link_to 'new post', new_post_path(user_id: @user.id) %>